In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_csv("train.csv",index_col=0)

In [3]:
df.head()

,B,C,D,E,F,G,H,I,J,K,...,P,Q,R,S,T,U,V,W,X,Y
A,,,,,,,,,,,,,,,,,,,,,
5770,360000,1,2,1,45,2,2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
5772,300000,1,2,1,40,-2,-2,-2,-2,-2,...,2208,2475,7580,4347,0,2208,2475,7580,0,0
5773,20000,2,1,2,22,-2,-2,-2,-2,-2,...,304,0,302,0,913,304,0,302,7676,0
5774,270000,2,2,2,26,0,0,0,0,0,...,14391,15255,16273,1300,1533,1391,1255,1273,1000,0
5775,20000,2,3,2,49,0,0,0,0,0,...,19334,19373,19460,1337,2000,666,714,810,600,0

In [4]:
print(df.loc[5775,:])

B    20000
C        2
D        3
E        2
F       49
G        0
H        0
I        0
J        0
K        0
L        0
M    19437
N    20154
O    18957
P    19334
Q    19373
R    19460
S     1337
T     2000
U      666
V      714
W      810
X      600
Y        0
Name: 5775, dtype: int64

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
from sklearn.tree import DecisionTreeClassifier

In [25]:
y = df.loc[:,'Y']
x = df.iloc[:,0:23]

print(x.head())
print("______________")
print(y.head())

           B  C  D  E   F  G  H  I  J  K  ...       O      P      Q      R  \
A                                         ...
5770  360000  1  2  1  45  2  2 -2 -2 -2  ...       0      0      0      0
5772  300000  1  2  1  40 -2 -2 -2 -2 -2  ...       0   2208   2475   7580
5773   20000  2  1  2  22 -2 -2 -2 -2 -2  ...     904    304      0    302
5774  270000  2  2  2  26  0  0  0  0  0  ...   13533  14391  15255  16273
5775   20000  2  3  2  49  0  0  0  0  0  ...   18957  19334  19373  19460

         S     T     U     V     W     X
A
5770     0     0     0     0     0     0
5772  4347     0  2208  2475  7580     0
5773     0   913   304     0   302  7676
5774  1300  1533  1391  1255  1273  1000
5775  1337  2000   666   714   810   600

[5 rows x 23 columns]
______________
A
5770    0
5772    0
5773    0
5774    0
5775    0
Name: Y, dtype: int64

In [26]:
x.head()

,B,C,D,E,F,G,H,I,J,K,...,O,P,Q,R,S,T,U,V,W,X
A,,,,,,,,,,,,,,,,,,,,,
5770,360000,1,2,1,45,2,2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
5772,300000,1,2,1,40,-2,-2,-2,-2,-2,...,0,2208,2475,7580,4347,0,2208,2475,7580,0
5773,20000,2,1,2,22,-2,-2,-2,-2,-2,...,904,304,0,302,0,913,304,0,302,7676
5774,270000,2,2,2,26,0,0,0,0,0,...,13533,14391,15255,16273,1300,1533,1391,1255,1273,1000
5775,20000,2,3,2,49,0,0,0,0,0,...,18957,19334,19373,19460,1337,2000,666,714,810,600

In [27]:
y.head()

A
5770    0
5772    0
5773    0
5774    0
5775    0
Name: Y, dtype: int64

In [28]:
dt=DecisionTreeClassifier()
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=21)

In [29]:
x_train.head()

,B,C,D,E,F,G,H,I,J,K,...,O,P,Q,R,S,T,U,V,W,X
A,,,,,,,,,,,,,,,,,,,,,
27320,340000,1,3,1,43,0,0,2,2,0,...,283400,277335,282890,304280,22000,20251,0,10176,26000,12000
17440,150000,2,1,1,31,0,0,0,0,0,...,134887,105822,86341,88072,10001,6712,5500,3400,3201,3403
10291,50000,2,2,1,50,0,0,0,0,0,...,48400,29781,30082,26609,2200,2520,1000,1100,1000,1000
16445,30000,2,2,1,53,0,0,0,0,0,...,28151,28827,29412,26199,2000,2000,1500,1000,1000,1351
28410,80000,2,3,1,34,-1,-1,-1,-1,-1,...,2500,3045,1451,6541,9295,2500,3045,1456,6541,0

In [30]:
y_train.head()

A
27320    0
17440    0
10291    0
16445    0
28410    0
Name: Y, dtype: int64

In [31]:
x_test.head()

,B,C,D,E,F,G,H,I,J,K,...,O,P,Q,R,S,T,U,V,W,X
A,,,,,,,,,,,,,,,,,,,,,
22941,100000,2,1,2,28,0,0,0,0,0,...,22573,23596,24068,24679,1800,2000,1400,863,1000,2000
25860,20000,2,2,1,44,0,0,0,0,0,...,14453,15320,11796,9766,1600,1300,1156,387,354,438
6595,80000,2,1,2,24,-1,2,-1,-1,-1,...,890,382,2786,2557,2,893,382,2794,2561,77004
10836,160000,2,1,2,36,1,2,0,0,0,...,118552,119376,122039,121841,0,5677,4197,4509,4412,4228
15859,50000,2,2,1,29,0,0,0,0,0,...,50095,49057,17426,17789,2128,2477,2409,769,792,659

In [32]:
dt.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [33]:
y_pred=dt.predict(x_test)

In [34]:
dt.score(x_test,y_test)

0.84928571428571431

In [35]:
len(y_test[y_test==1])

422

In [36]:
len(y_pred[y_pred==1])

471

In [37]:
data_test=pd.read_csv("Data Asli/test.csv",index_col=0)

In [38]:
data_test.head()

,B,C,D,E,F,G,H,I,J,K,...,O,P,Q,R,S,T,U,V,W,X
A,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,689,0,0,0,0,689,0,0,0,0
2,120000,2,2,2,26,-1,2,0,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
3,90000,2,2,2,34,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
4,50000,2,2,1,37,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
5,50000,1,2,1,57,-1,0,-1,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679

In [39]:
hasil_test=dt.predict(data_test)

In [41]:
hasil_test=pd.DataFrame(hasil_test)

In [42]:
hasil_test.head()

   0
0  1
1  0
2  0
3  0
4  0

In [43]:
hasil_test.unstack(level=0)

0  0       1
   1       0
   2       0
   3       0
   4       0
   5       0
   6       0
   7       0
   8       0
   9       1
   10      0
   11      0
   12      0
   13      0
   14      0
   15      0
   16      0
   17      0
   18      0
   19      0
   20      0
   21      0
   22      1
   23      0
   24      0
   25      0
   26      0
   27      0
   28      0
   29      0
          ..
   8970    0
   8971    1
   8972    0
   8973    0
   8974    1
   8975    0
   8976    0
   8977    1
   8978    0
   8979    0
   8980    1
   8981    0
   8982    0
   8983    0
   8984    0
   8985    0
   8986    0
   8987    1
   8988    1
   8989    0
   8990    1
   8991    1
   8992    0
   8993    1
   8994    1
   8995    0
   8996    0
   8997    1
   8998    0
   8999    0
dtype: int64

In [44]:
hasil_test.head()

   0
0  1
1  0
2  0
3  0
4  0

In [45]:
print(hasil_test.index)

RangeIndex(start=0, stop=9000, step=1)

In [46]:
hasil_test.index

RangeIndex(start=0, stop=9000, step=1)

In [54]:
hasil_test.to_csv("Hasil4.csv")

In [50]:
hasil_test.columns

RangeIndex(start=0, stop=1, step=1)

In [51]:
type(hasil_test)

pandas.core.frame.DataFrame

In [55]:
hasil_test.head()

   0
0  1
1  0
2  0
3  0
4  0

In [56]:
print(hasil_test)

      0
0     1
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     1
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    1
23    0
24    0
25    0
26    0
27    0
28    0
29    0
...  ..
8970  0
8971  1
8972  0
8973  0
8974  1
8975  0
8976  0
8977  1
8978  0
8979  0
8980  1
8981  0
8982  0
8983  0
8984  0
8985  0
8986  0
8987  1
8988  1
8989  0
8990  1
8991  1
8992  0
8993  1
8994  1
8995  0
8996  0
8997  1
8998  0
8999  0

[9000 rows x 1 columns]

In [57]:
len(hasil_test[hasil_test==1])

9000

In [59]:
len(hasil_test[hasil_test[0]==1])

1480