In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('train.csv',index_col=0)

In [3]:
df.head()

,B,C,D,E,F,G,H,I,J,K,...,P,Q,R,S,T,U,V,W,X,Y
A,,,,,,,,,,,,,,,,,,,,,
5770,360000,1,2,1,45,2,2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
5772,300000,1,2,1,40,-2,-2,-2,-2,-2,...,2208,2475,7580,4347,0,2208,2475,7580,0,0
5773,20000,2,1,2,22,-2,-2,-2,-2,-2,...,304,0,302,0,913,304,0,302,7676,0
5774,270000,2,2,2,26,0,0,0,0,0,...,14391,15255,16273,1300,1533,1391,1255,1273,1000,0
5775,20000,2,3,2,49,0,0,0,0,0,...,19334,19373,19460,1337,2000,666,714,810,600,0

In [4]:
X=df.loc[:,'B':'X']
Y=df.iloc[:,23]
print(X.head())
print(Y.head())

           B  C  D  E   F  G  H  I  J  K  ...       O      P      Q      R  \
A                                         ...
5770  360000  1  2  1  45  2  2 -2 -2 -2  ...       0      0      0      0
5772  300000  1  2  1  40 -2 -2 -2 -2 -2  ...       0   2208   2475   7580
5773   20000  2  1  2  22 -2 -2 -2 -2 -2  ...     904    304      0    302
5774  270000  2  2  2  26  0  0  0  0  0  ...   13533  14391  15255  16273
5775   20000  2  3  2  49  0  0  0  0  0  ...   18957  19334  19373  19460

         S     T     U     V     W     X
A
5770     0     0     0     0     0     0
5772  4347     0  2208  2475  7580     0
5773     0   913   304     0   302  7676
5774  1300  1533  1391  1255  1273  1000
5775  1337  2000   666   714   810   600

[5 rows x 23 columns]
A
5770    0
5772    0
5773    0
5774    0
5775    0
Name: Y, dtype: int64

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=45)

In [6]:
print(X.head())
type(X)

           B  C  D  E   F  G  H  I  J  K  ...       O      P      Q      R  \
A                                         ...
5770  360000  1  2  1  45  2  2 -2 -2 -2  ...       0      0      0      0
5772  300000  1  2  1  40 -2 -2 -2 -2 -2  ...       0   2208   2475   7580
5773   20000  2  1  2  22 -2 -2 -2 -2 -2  ...     904    304      0    302
5774  270000  2  2  2  26  0  0  0  0  0  ...   13533  14391  15255  16273
5775   20000  2  3  2  49  0  0  0  0  0  ...   18957  19334  19373  19460

         S     T     U     V     W     X
A
5770     0     0     0     0     0     0
5772  4347     0  2208  2475  7580     0
5773     0   913   304     0   302  7676
5774  1300  1533  1391  1255  1273  1000
5775  1337  2000   666   714   810   600

[5 rows x 23 columns]

pandas.core.frame.DataFrame

In [7]:
print(type(Y))
Y.head()

<class 'pandas.core.series.Series'>

A
5770    0
5772    0
5773    0
5774    0
5775    0
Name: Y, dtype: int64

In [9]:
from sklearn.svm import SVC

In [10]:
svc=SVC(kernel='rbf')

In [11]:
svc.fit(X,Y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [12]:
data_test=pd.read_csv('Data Asli/test.csv',index_col=0)

In [13]:
data_test.head()

,B,C,D,E,F,G,H,I,J,K,...,O,P,Q,R,S,T,U,V,W,X
A,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,689,0,0,0,0,689,0,0,0,0
2,120000,2,2,2,26,-1,2,0,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
3,90000,2,2,2,34,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
4,50000,2,2,1,37,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
5,50000,1,2,1,57,-1,0,-1,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679

In [14]:
hasil_test=svc.predict(data_test)

In [15]:
hasil_test=pd.DataFrame(hasil_test)
hasil_test.head()

   0
0  0
1  0
2  0
3  0
4  0

In [17]:
type(hasil_test)

pandas.core.frame.DataFrame

In [19]:
hasil_test['ID']=data_test.index

In [20]:
hasil_test.head()

   0  ID
0  0   1
1  0   2
2  0   3
3  0   4
4  0   5

In [21]:
hasil_test.columns=['Y','ID']
hasil_test.head()

   Y  ID
0  0   1
1  0   2
2  0   3
3  0   4
4  0   5

In [22]:
dict={'ID':hasil_test['ID'],'Y':hasil_test['Y']}
hasil_test_final=pd.DataFrame(dict)

In [23]:
hasil_test_final.head()

   ID  Y
0   1  0
1   2  0
2   3  0
3   4  0
4   5  0

In [30]:
hasil_test_final['ID'].equals(data_test.index)

False

In [27]:
data_test.indexh

Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            19617, 19622, 19623, 19634, 19638, 19641, 19649, 19650, 19655,
            19660],
           dtype='int64', name='A', length=9000)

In [28]:
hasil_test_final['ID']

0           1
1           2
2           3
3           4
4           5
5           6
6           7
7           8
8           9
9          10
10         11
11         12
12         13
13         14
14         15
15         16
16         17
17         18
18         19
19         20
20         21
21         22
22         23
23         24
24         25
25         26
26         27
27         28
28         29
29         30
        ...
8970    19522
8971    19523
8972    19528
8973    19530
8974    19533
8975    19537
8976    19548
8977    19549
8978    19550
8979    19553
8980    19557
8981    19564
8982    19565
8983    19570
8984    19573
8985    19578
8986    19585
8987    19588
8988    19596
8989    19604
8990    19617
8991    19622
8992    19623
8993    19634
8994    19638
8995    19641
8996    19649
8997    19650
8998    19655
8999    19660
Name: ID, dtype: int64

In [32]:
hasil_test_final.to_csv('With SVM.csv',index=False)

Now with Log Reg

In [33]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()

In [34]:
logreg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [35]:
logreg.score(x_test,y_test)

0.89690476190476187

# Back to SVM Poly

In [36]:
svc=SVC(kernel='poly')

In [ ]:
svc.fit(x_train,y_train)
svc.score(x_test,y_test)